@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
}

:root {
    --bg-color: #FFFFFF;

    --blue-color-1: #022A4E;
    --blue-color-2: #2978CC;
    --blue-color-2-50: #2978CC50;

    --white-color-1: #FFFFFF;
    --white-color-2: #E6EAED;

    --grey-color: #999999;

    --box-shadow: 0 100px 156px rgba(2,119,116,.05),
    0 41.7776px 65.1731px rgba(2,119,116,.0359427),
    0 22.3363px 34.8446px rgba(2,119,116,.0298054),
    0 12.5216px 19.5336px rgba(2,119,116,.025),
    0 6.6501px 10.3742px rgba(2,119,116,.0201946),
    0 2.76726px 4.31692px rgba(2,119,116,.0140573);
}


/* BODY */
body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--blue-color-1);
    user-select: none;
    align-items: center;
}


/* CARD BLOG */
.blogs {
    width: 70%;
    padding: 0px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
}

.blog {
    width: 100%;
    padding: 30px 40px;
    background: var(--bg-color);
    border: 1px solid var(--white-color-2);
    box-shadow: var(--box-shadow);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all .5s ease-in-out;
}

.blog:hover {
    box-shadow: none;
    transition: all .2s ease-in-out;
}

.blog:first-child {
    margin-top: 80px;
}

.blog:last-child {
    margin-bottom: 80px;
}

.blog .info-blog {
    display: flex;
    justify-content: space-between;
}

.blog .info-blog .user-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.blog .info-blog .user-info .profil_blog {
    width: 70px;
    height: 70px;
}

.blog .info-blog .user-info .informations {
    display: flex;
    flex-direction: column;
}

.blog .info-blog .user-info .informations .nomPrenom {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--blue-color-2);    
}

.blog .info-blog .user-info .informations .titre-blog {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-decoration: none;
    color: var(--blue-color-1);
}

.blog .info-blog .user-info .informations .titre-blog:hover {
    text-decoration: underline;
    color: var(--blue-color-2);
}


.blog .contenu-blog {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    user-select: text;
}